{{!--setting a burger image --}}
<div class="burgerImage">
    <img src="/assets/img/burger.jpg" style="
    width: 20%;">
</div>
{{!-- title --}}
<h2>Eat-Da-Burger!</h2>
{{!-- setting the devour button, and front end view --}}
<div class="undevoured">
    <ul>
        {{#each burger}}
        <li>{{this.id}}: {{this.burger_name}}<button type="button" class="devourButton"
                attributeDevour="{{this.id}}">Devour!</button></li>
        {{!-- <button type="button" class="devourButton">Devour!</button> --}}
        {{/each}}
    </ul>
</div>
{{!-- setting another side of the front end, the eaten side --}}
<div class="devoured">
    <ul>
        {{#each eatenBurger}}
        <li>{{this.burger_name}}</li>
        {{/each}}
    </ul>
</div>
<div>
    {{!-- setting submit button and text --}}
    <form id="createplan" class="button-size center">
        <textarea type="text" class="text" name="plan"></textarea>
        <button type="button" class="button">Save a Burger!</button>
    </form>
</div>
{{!-- setting the JQuery part --}}
<script type="text/javascript">
    $(".button").on("click", function (event) {
        var value = $(".text").val();
        // Send the PUT request.
        var newBurger = { name: value };
        $.ajax("/api/burger", {
            type: "PUT",
            data: newBurger
        }).then(
            function () {
                console.log("updated burger ", newBurger);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });
    $(".devourButton").on("click", function (event) {
        var devourBurger = { id: this.attr("attributeDevour")};
        $.ajax("/api/burger", {
            type: "POST",
            data: devourBurger
        }).then(
            function () {
                console.log("devour burger ", devourBurger);
                location.reload();
            }
        );
    });

</script>