<h2>Add a Burger</h2>
<form id="createplan" class="button-size">
    <textarea type="text" name="plan"></textarea>
    <button type="submit">Save Burger!</button>
</form>
<p>{{burger}}</p>

{{!-- <ul>
    {{#each burgers}}
    <li>{{this}}</li>
    {{/each}}
</ul> --}}