body{
    background-color: orange;
    text-align: center;
    /* background-image: url('/assets/img/burger.jpg'); */
    background-size: 100%;
}
.center{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.text{
    display: block;
    width: 100%;
}
.undevoured{
    display: inline-block;
}
.devoured{
    display: inline-block;
}
ul{
    list-style: none;
}
.burgerImage{
    width: 100%;
}
.devourButton{
    
}